html {
  scroll-behavior: smooth;
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  /* background: hsl(var(--primary) / 0%); */
  border-radius: 24px;
  /* rotate: 35deg; */

  width: 260px;
  top: 100px;
  height: 450px;
  filter: blur(150px);
  /* animation: shadow-slide infinite 4s linear alternate; */
  background: hsl(var(--primary) / 65%);
}

@media (max-width: 768px) {
  .shadow {
    top: 100px;
    width: 200px;
    height: 400px;
    filter: blur(100px);
  }
}
